<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="backGroundColor text-white">
    <div class="container py-3">
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <a href="/home" class="text-white">Home</a> |
                <a href="/events/new" class="text-white">New</a> |
                <a href="/search" class="text-white">Search</a>
            </div>
            <div class="col-auto">
                <a href="/account" class="text-white">Account</a> |
                <a href="/logout" class="text-white">Logout</a>
                <!-- <div class="notification-box bg-primary text-light d-inline-flex justify-content-center align-items-center">
                    12
                </div> -->
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form action="/events/new/create" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Event Name:</label>
                        <input type="text" class="form-control my-border" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="type" class="form-label">What Sport?</label>
                        <select class="form-select my-border" id="type" name="type">
                            <option value="basketball">Basketball</option>
                            <option value="soccer">Soccer</option>
                            <option value="baseball">Baseball</option>
                            <option value="volleyball">Volleyball</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="min_num_of_players" class="form-label">Minimum Number of Players Needed:</label>
                        <input type="number" class="form-control my-border" id="min_num_of_players" name="min_num_of_players">
                    </div>
                    <div class="mb-3">
                        <label for="max_num_of_players" class="form-label">Maximum Number of Players Needed:</label>
                        <input type="number" class="form-control my-border" id="max_num_of_players" name="max_num_of_players">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Address of Event:</label>
                        <input type="text" class="form-control my-border" id="location" name="location">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Date of Event:</label>
                        <input type="date" class="form-control my-border" id="date" name="date">
                    </div>
                    <div class="mb-3">
                        <label for="time" class="form-label">Time of Event:</label>
                        <input type="text" class="form-control my-border" id="time" name="time">
                    </div>
                    <button type="submit" class="btn btn-primary my-border">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
